<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://worldviewwellnessfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f652d1eb-db24-4da3-a278-44d32e344a51/resourceGroups/ResourceGroup1/providers/Microsoft.Web/sites/worldviewwellnessfunctions</ResourceId>
    <UserName>$worldviewwellnessfunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://worldviewwellnessfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>